.banner-bg{
    height: 500px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(./assets/images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.react-tabs__tab{
    text-align: center;
}